export(SoCal_IBI)
export(NorCal_IBI)
export(IBIlocation)
export(IBIlocation_N)
export(IBIname_match)
export(rarify)
import(rgdal)
import(ggmap)
import(maptools)
import(ggplot2)
import(gpclib)
import(plyr)
import(doParallel)